<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <link rel="stylesheet" href="./css/regist.css">
  <link rel="stylesheet" href="./css/mypage.css">
    <script type="text/javascript" src="./js/regist.js"></script>
  <title>Manager Page</title>

  <style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800&display=swap');
    @font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    }
    * {
      font-family: 'Pretendard-Regular';
    }
    table {
      text-align: center;
    }
    </style>

</head>
<body>
    <div class="container" id="header">
      <div id="logo">
        <a href="/main">
          <img src="./img/logo.jpg" alt="logo">
        </a>
      </div>

      <div id="menubar" >
        <ul>
          <li><a href="/main" style="color:#C7C7C7"> HOME </a></li>
          <li><a href="/product"> ESHOP </a></li>
          <li><a href="about.html"> ABOUT </a></li>
          <li><a href="/notice"> NOTICE </a></li>
          <li id="login-link"> <b>관리자</b> </li>
          <li id="login-link"><a href="/login/logout"> LOG OUT </a></li>
          
          <li><a href="/mypage"> <span class="glyphicon glyphicon-user"></span></a></li>
        </ul>
      </div>

    </div>

    <form action="/regist/create" method="POST" enctype="multipart/form-data">
    <div class="container form-group">

      <div class="text-left" style="padding:30px 0px 0px 0px">
        <h2>관리 페이지</h2>
        <div class="row" id="regist-img" style="padding:30px 0px 30px 0px; border-top:3px solid black; border-bottom:0.5px solid #C7C7C7;">
          <h3>도시 별 거래횟수</h3>
          <table class="table table-striped">
            <thead>
            <th class="text-center">City</th>
            <th class="text-center">Number</th>
          </thead>
            <tr>
              <td>도시</td>
              <td>거래 횟수</td>
            </tr>
            <% if(locals.cityTrade){ %>
            <% for(var i=0; i<cityTrade.length; i++){ %>
              <tr>
                <td><%= cityTrade[i].city %></td>
                <td><%= cityTrade[i].tradecount %></td>
              </tr>
            <% }} %>
          </table>

          <hr>

          <h3>회원 별 작성글 갯수</h3>
          <table class="table table-striped">
            <thead>
            <th class="text-center">No.</th>
            <th class="text-center">Nick Name</th>
            <th class="text-center">Number</th>
          </thead>
            <tr>
              <td class="col-md-2">회원번호</td>
              <!-- <td class="col-md-4">회원 ID</td> -->
              <td class="col-md-4">회원 이름</td>
              <td>작성글 갯수</td>
            </tr>
            <% if(locals.userProductNum){ %>
              <% for(var i=0; i<userProductNum.length; i++){ %>
                <tr>
                  <td><%= userProductNum[i].userId %></td>
                  <td><%= userProductNum[i].nickname %></td>
                  <td><%= userProductNum[i].productcount %></td>
                </tr>
              <% }} %>
          </table>

          <hr>
          
          <h3>회원 별 댓글 갯수</h3>
          <table class="table table-striped">
            <thead>
            <th class="text-center">No.</th>
            <th class="text-center">Nick Name</th>
            <th class="text-center">Number</th>
          </thead>
            <tr>
              <td class="col-md-2">회원번호</td>
              <td class="col-md-4">회원 이름</td>
              <td>댓글 갯수</td>
            </tr>
            <% if(locals.userCommentNum){ %>
              <% for(var i=0; i<userCommentNum.length; i++){ %>
                <tr>
                  <td><%= userCommentNum[i].userId %></td>
                  <td><%= userCommentNum[i].nickname %></td>
                  <td><%= userCommentNum[i].commentcount %></td>
                </tr>
              <% }} %>
          </table>

          <hr>

          <h3>최고 판매 고객 Top 10</h3>
          <table class="table table-striped">
            <thead>
            <th class="text-center">No.</th>
            <th class="text-center">Name</th>
            <th class="text-center">Number</th>
          </thead>
            <tr>
              <td class="col-md-2">회원번호</td>
              <td class="col-md-4">회원 이름</td>
              <td>판매 수량</td>
            </tr>
            <% if(locals.recentSellTop){ %>
              <% for(var i=0; i<recentSellTop.length; i++){ %>
                <tr>
                  <td><%= recentSellTop[i].sellerId %></td>
                  <td><%= recentSellTop[i].nickname %></td>
                  <td><%= recentSellTop[i].number %></td>
                </tr>
              <% }} %>
          </table>

          <hr>

          <h3>최고 구매 고객 Top 10</h3>
          <table class="table table-striped">
            <thead>
            <th class="text-center">No.</th>
            <th class="text-center">Name</th>
            <th class="text-center">Number</th>
          </thead>
            <tr>
              <td class="col-md-2">회원번호</td>
              <td class="col-md-4">회원 이름</td>
              <td>구매 수량</td>
            </tr>
            <% if(locals.recentPurchaseTop){ %>
              <% for(var i=0; i<recentPurchaseTop.length; i++){ %>
                <tr>
                  <td><%= recentPurchaseTop[i].buyerId %></td>
                  <td><%= recentPurchaseTop[i].nickname %></td>
                  <td><%= recentPurchaseTop[i].number %></td>
                </tr>
              <% }} %>
          </table>

            </div>

          </div>
        </div>

      </div>

    </div>
  </form>

    <div id="footer">
      <div id="footerL">
        <p>© 2022  <a href="">IN GOLD WE TRUST PARIS</a></p>
        <p><a href="">NEWS</a></p>
        <p><a href="">LEGALS</a></p>
        <p><a href="">SHIPPING & RETURNS</a></p>
        <a href=""><img src="./img/insta.jpg" alt="instagram" width="12px" height="12px"></a>
        <a href=""><img src="./img/facebook.jpg" alt="facebook" width="12px" height="12px"></a>
      </div>

      <div id=footerR>
        <input type="text" placeholder="ENTER EMAIL">
        <input type="button" value="JOIN">
      </div>

    </div>
</body>
</html>